<form action="" method="post" >
    <input type="text" name="name">
    <input type="text" name="address">
    <input type="text" name="email">
    <input type="text" name="phone">
    <button type="submit">Add</button>
</form>