<form action="" method="post" >
    <input type="text" name="name" value="<%=user.name%>">
    <input type="text" name="number" value="<%=user.number%>">
    <input type="text" name="email" value="<%=user.email%>">
    <input type="text" name="phone" value="<%=user.phone%>">
    <button type="submit">Edit</button>
</form>